<!DOCTYPE html>
<html lang="en">
{% from 'tools.jinja' import navbar, header %}

<head>
  {{ header("Games Layout") }}
</head>

<body>
  {% from 'tools.jinja' import navbar %}
  {{ navbar('Games Layout',[('/layout', 'Layout'), ('/sync', 'Force Sync'), ('/groups', 'Game Groups')]) }}
  <table>
    <thead>
      <tr>
        {% for col in games %}
        <th>{{ col['name'] }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {{ html|safe }}
    </tbody>
  </table>
</body>

</html>