<!DOCTYPE html>
<html lang="en">
{% from 'tools.jinja' import navbar, header %}

<head>
  {{ header("Games Layout") }}
</head>

<body>
  {% from 'tools.jinja' import navbar %}
  {{ navbar('Games Layout',[('/layout', 'Layout'), ('/layout/usedshelves', 'Used Shelves'), ('/sync', 'Force Sync'), ('/groups', 'Game Groups')]) }}
  <p>{{ about }}</p>
  <table>

    <thead>
      <tr>
        {% for col in columns %}
        <th>{{ col }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {{ html|safe }}
    </tbody>
  </table>
  <p></p>
</body>

</html>