<!DOCTYPE html>
<html lang="en">
{% from 'tools.jinja' import navbar, header %}

<head>
  {{ header(game.name) }}
  <meta name="viewport" content="width=device-width; initial-scale=1.0;" />

  <script type="text/javascript" src="/static/typeahead.jquery.js"></script>
  <script>
    var bggid = {{ game.bggid }};
  </script>
  <script type="text/javascript" src="/static/d3.v5.js"></script>
  <script type="text/javascript" src="/static/graphs.js"></script>
  <script type="text/javascript" src="/static/game.js"></script>
</head>

<body onLoad="locategame();updatePlays();">
  {% from 'tools.jinja' import navbar %}
  {{ navbar(game.name) }}
  <a name="top"></a>
  <table>
    <tr>
      <td>
        <a href="{{ game.imageurl }}"><img src="{{ game.thumburl }}"></a>
      </td>
      <td>
        <h1> {{ game.name }} </h1>
      </td>
    </tr>
  </table>
  <p>&nbsp;</p>
  <button onclick="locategame();" id="locate" class="btn btn-primary">Locate Me!</button>
  <ul>
    {% for k in ['groupname','ratingtxt', 'complexitytxt', 'playingtimetxt', 'statustxt', 'minplayers', 'maxplayers', 'minage', 'categoriestxt', 'mechanicstxt', 'lastplaytxt'] %}
    <li><b>{{ formatkey(k) }}</b>: {{ game[k] }} </li>
    {% endfor %}
    {% if game.expansionname %}
    <li><b>Expansion For</b>: <a href="/game/{{ game.expansionbggid }}">{{ game.expansionname }}</a></li>
    {% endif %}
    {% if game.expansions %}
    <li><b>Available Expansions</b>:
      <ul>
        {% for expansion in game.expansions %}
        <li><a href="/game/{{ expansion.bggid }}">{{ expansion.name }}</a>
          {% endfor %}
      </ul>
    </li>
    {% endif %}
    {% if game.bggid > 0 %}
    <li><b>Board Game Geek ID</b>: <a href="https://boardgamegeek.com/boardgame/{{ game.bggid }}">{{ game.bggid }}</a>
    </li>
    {% endif %}
  </ul>
  {{ game.description }}
  <p>&nbsp;</p>
  <div id="logplaydiv" class="card mb-4 shadow-sm" style="display:none;">
    <div class="card-header">
      <a name="logplay"></a>
      <h4 class="my-0 font-weight-normal">Record New Play</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="date">Date</label>
          <input type="date" class="form-control" id="date" placeholder="" value="" required="">
          <div class="invalid-feedback">
            Valid date is required.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="comments">Comments</label>
          <textarea class="form-control" id="comments" placeholder="" value=""></textarea>
        </div>
        <table class="table table-sm ">
          <thead>
            <th>Player</th>
            <th>Score</th>
            <th>Win</th>
            <th>New</th>
            <th>Colour</th>
          </thead>
          <tbody id="newplaybody">
          </tbody>
        </table>
        <button id="recordplaybtn" class="btn btn-primary btn-lg btn-block" onClick="recordPlay();">Record Play</button>
      </div>
    </div>
  </div>
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Play Stats</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col text-center">
          <div id="play-donught" class="playgraph"></div>
        </div>
        <div class="col text-center">
          <table class="table table-sm table-striped">
            <thead>
              <th>Player</th>
              <th>Wins</th>
              <th>Plays</th>
              <th title="Wins as % of plays">Wins %</th>
              <th>Avg</th>
              <th>High</th>
              <th>Low</th>
            </thead>
            <tbody id="statsdata"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <div style="position: fixed; top: 65px; right: 10px;"><button id="logplaybtn" class="btn btn-primary"
          onClick="logplay();">Log Play</button></div>
      <h4 class="my-0 font-weight-normal">Logged Plays</h4>
    </div>
    <div class="card-body">
      <table class="table table-sm ">
        <thead>
          <tr>
            <th>Date</th>
            <th>Player</th>
            <th>Score</th>
            <th>Colour</th>
          </tr>
        </thead>
        <tbody id="plays">
          <tr>
            <td colspan=4>Loading...</td>
          <tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Details</h4>
    </div>
    <div class="card-body">
      <table class="table table-bordered ">
        <tr>
          <td>
            <h5>BoxThrone Location</h5>
            <p class="card-text">
              Column: <input style="width: 3em;" id="col" type="number" pattern="\d*" min=0 max=100
                value="{{ game.col }}">
              Row: <input style="width: 3em;" id="row" type="number" pattern="\d*" min=0 max=100 value="{{ game.row }}">
            </p>
          </td>
          <td>
            <h5>Group</h5>
            <p class="card-text">
              <select class="custom-select" id="groupid">
                {% if not game.groupid %}
                <option selected>Choose...</option>
                {% endif %}
                {% for group in groups %}
                <option value="{{ group.id }}" {% if game.groupid == group.id %}selected {% endif %}>{{ group.name }}
                </option>
                {% endfor %}
              </select>
            </p>
          </td>
        </tr>
      </table>
      <p>
        <button id="updateinfo" onclick="updateinfo();" class="btn btn-primary">Update</button>
      </p>
      <p>
        <a href="/scanbarcode?bggid={{ game.bggid }}" class="btn btn-primary">Associate Barcode</a>
        {% if game.barcodes %}
        <br>
        <b>Associated Bar Codes</b>:
      <ul>
        {% for barcode in game.barcodes%}
        <li>{{ barcode }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if game.bggid < 0 %}
      <a href="/customgame/{{ game.bggid }}" class="btn btn-primary">Edit Custom Game</a>
      {% endif %}
      </p>
    </div>
  </div>
  <p>&nbsp;</p>
  <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete the play recorded on <span id="modalPlayDate"></span>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" onclick="actionDeletePlay();" id="btnDoDelete">Delete</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>