<!DOCTYPE html>
<html lang="en">
{% from 'tools.jinja' import navbar, header %}

<head>
  {{ header("All Games") }}
  <script>
    var tempp = [];
    var gamestable;
    var DEFAULT_HIDDEN = new Set(["Location", "Max Players", "Minutes", "Complexity", "Last Play", "Group", "Mechanics/Categories"]);
    var FILTER_COL = new Set(['Group', 'Status']);
    var MAXMIN_COL = new Set(['Max Players', 'Minutes']);

    $.fn.dataTable.ext.search.push(
      function (settings, data, dataIndex) {
        var min = parseInt($('#min_MaxPlayers').val(), 10);
        var max = parseInt($('#max_MaxPlayers').val(), 10);
        var val = parseFloat(data[6]) || 0;

        return checkFilter(min, max, val);
      }
    );

    $.fn.dataTable.ext.search.push(
      function (settings, data, dataIndex) {
        var min = parseInt($('#min_Minutes').val(), 10);
        var max = parseInt($('#max_Minutes').val(), 10);
        var val = parseFloat(data[7]) || 0;

        return checkFilter(min, max, val);
      }
    );

    function checkFilter(min, max, val) {
      if ((isNaN(min) && isNaN(max)) ||
        (isNaN(min) && val <= max) ||
        (min <= val && isNaN(max)) ||
        (min <= val && val <= max)) {
        return true;
      }
      return false;
    };

    $(document).ready(function () {
      $("#gamestable tbody tr").on("click", function (event) {
        bggid = parseInt(this.attributes['_gameid'].value)
        location = 'game/' + bggid;
      });
      gamestable = $('#gamestable').DataTable({
        paging: false,
        "dom": "<'row'<'col-sm-12 col-md-6'f><'col-sm-12 col-md-6 hidebuttons' l>>",
        "order": [[1, "asc"]],
        columnDefs: [
          { targets: [3, 6, 7], "type": "num" },
        ]
      });

      var buttondiv = $("div.hidebuttons");
      gamestable.columns().every(function () {
        var column = this;
        var header = column.header();

        // Setup the show/hide buttons
        var newbutton = $("<button type='button' class='btn btn-primary btn-sm toggle-vis'></button>");
        var txt = header.innerText;
        newbutton.text(txt);
        tempp.push(column);
        newbutton.attr("data-column", column[0][0]);
        newbutton.on("click", toggleVis);
        buttondiv.append(newbutton);
        buttondiv.append(" ");
        if (DEFAULT_HIDDEN.has(txt)) {
          newbutton.trigger("click");
        }

        // Provide a filter dropdown as required
        if (FILTER_COL.has(txt)) {
          $("<br />").appendTo(header);
          var select = $('<select id="sort_' + txt + '"><option value=""></option></select>')
            .appendTo($(header))
            .on('change', function () {
              var val = $.fn.dataTable.util.escapeRegex(
                $(this).val()
              );
              column
                .search(val ? '^' + val + '$' : '', true, false)
                .draw();
            })
            .on('click', function (event) {
              event.stopPropagation();
            });
          column.data().unique().sort().each(function (d, j) {
            select.append('<option value="' + d + '">' + d + '</option>')
          });
        }
        if (txt == "Mechanics/Categories") {
          $("<br />").appendTo(header);
          var select = $('<select><option value=""></option></select>')
            .appendTo($(header))
            .on('change', function () {
              var val = $.fn.dataTable.util.escapeRegex(
                $(this).val()
              );
              column
                .search(val ? val : '', true, false)
                .draw();
            });
          var optionsset = new Set();
          var cells = column.nodes();
          for (i = 0; i < cells.length; i++) {
            cell = cells[i];
            for (s of cell.getElementsByTagName("span")) {
              optionsset.add(s.innerText);
            }
          }
          var options = Array.from(optionsset);
          options.sort();
          for (d of options) {
            select.append('<option value="' + d + '">' + d + '</option>');
          }
        }
        if (MAXMIN_COL.has(txt)) {
          $("<br />").appendTo(header);
          $('<input id="min_' + txt.replace(' ', '') + '" type="text" style="width: 3em;" placeholder="Min" width="3">')
            .appendTo(header)
            .keyup(function () { gamestable.draw(); })
            .click(function (event) { event.stopPropagation(); });
          $('<input id="max_' + txt.replace(' ', '') + '" type="text" style="width: 3em;" placeholder="Max" width="3">')
            .appendTo(header)
            .keyup(function () { gamestable.draw(); })
            .click(function (event) { event.stopPropagation(); });
        }
      });
      $("#sort_Status").val("Own").trigger("change");
    });
    function toggleVis(e) {
      e.preventDefault();
      // Get the column API object
      var column = gamestable.column($(this).attr('data-column'));
      // Toggle the visibility
      if (column.visible()) {
        column.visible(false);
        e.target.classList.remove("btn-default");
        e.target.classList.add("btn-secondary");
      } else {
        column.visible(true);
        e.target.classList.remove("btn-secondary");
        e.target.classList.add("btn-default");
      }
    }
  </script>
</head>

<body>
  {{ navbar('All Games', [('/layout', 'Layout'), ('/sync', 'Force Sync'), ('/groups', 'Game Groups')]) }}
  <table id="gamestable" class="table table-hover" style="width:98%">
    <thead>
      <tr>
        <th>Icon</th>
        <th>Name</th>
        <th>Group</th>
        <th>Complexity</th>
        <th>Last Play</th>
        <th>Location</th>
        <th>Max Players</td>
        <th>Minutes</th>
        <th>Status</th>
        <th>Mechanics/Categories</th>
      </tr>
    </thead>
    <tbody style="cursor: pointer;">
      {% for game in games %}
      <tr _gameid="{{ game.bggid }}">
        <td style="text-align: center;"><img src="{{ game.thumburl }}" onload="this.width/=2;"></td>
        {# <td><a href="/game/{{ game.bggid }}">{{ game.name }}</a></td> #}
        <td>{{ game.name }}</a></td>
        <td>{{ game.groupname }}</td>
        <td>{{ game.complexitytxt }}</td>
        <td>{{ game.lastplaytxt }}</td>
        <td>{{ game.rowcoltxt }}</td>
        <td>{{ game.maxplayers }}</td>
        <td>{{ game.playingtime }}</td>
        <td>{{ game.statustxt }}</td>
        <td style="font-size: 50%;">
          {% for mech in game.mechanics %}
          <span>{{ mech }}</span>{{ "," if not loop.last }}
          {% endfor %}
          <br />
          {% for cat in game.categories%}
          <span>{{ cat }}</span>{{ "," if not loop.last }}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>